<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
	<link rel="preconnect" href="https://unpkg.com" crossorigin>
	<link rel="dns-prefetch" href="https://unpkg.com">
	<link rel="stylesheet" href="https://unpkg.com/antd@<%= htmlWebpackPlugin.options.pkgVer.antd %>/dist/antd.min.css">

	<script src="https://unpkg.com/react@<%= htmlWebpackPlugin.options.pkgVer.react %>/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@<%= htmlWebpackPlugin.options.pkgVer['react-dom'] %>/umd/react-dom.production.min.js"></script>
	<script src="https://unpkg.com/react-router-dom@<%= htmlWebpackPlugin.options.pkgVer['react-router-dom'] %>/umd/react-router-dom.min.js"></script>
	<script src="https://unpkg.com/axios@<%= htmlWebpackPlugin.options.pkgVer.axios %>/dist/axios.min.js"></script>
	<script src="https://unpkg.com/classnames@<%= htmlWebpackPlugin.options.pkgVer.classnames %>/index.js"></script>
	<script src="https://unpkg.com/dayjs@<%= htmlWebpackPlugin.options.pkgVer.dayjs %>/dayjs.min.js"></script>
	<script src="https://unpkg.com/history@<%= htmlWebpackPlugin.options.pkgVer.history %>/umd/history.min.js"></script>
	<script src="https://unpkg.com/mobx@<%= htmlWebpackPlugin.options.pkgVer.mobx %>/lib/mobx.umd.min.js"></script>
	<script src="https://unpkg.com/mobx-react-lite@<%= htmlWebpackPlugin.options.pkgVer['mobx-react-lite'] %>/dist/mobxreactlite.umd.production.min.js"></script>
	<script src="https://unpkg.com/mobx-react@<%= htmlWebpackPlugin.options.pkgVer['mobx-react'] %>/dist/mobxreact.umd.production.min.js"></script>
	<script src="https://unpkg.com/echarts@<%= htmlWebpackPlugin.options.pkgVer.echarts %>/dist/echarts.min.js"></script>
	<script src="https://unpkg.com/antd@<%= htmlWebpackPlugin.options.pkgVer.antd %>/dist/antd.min.js"></script>
	<script src="https://unpkg.com/@ant-design/icons@<%= htmlWebpackPlugin.options.pkgVer['@ant-design/icons'] %>/dist/index.umd.js"></script>

	<title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        * {
			-webkit-tap-highlight-color: transparent;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		html {
			font-size: calc(var(--unit, 0.06) * 1vw);
		}

		html,
		body,
		#root {
			height: auto !important;
		}
	</style>
	<script>
		function setREM() {
			const innerWidth = window.innerWidth;
			const unit = 100 / innerWidth; // 计算出 1px 有多少vw
			document.documentElement.style.setProperty('--unit', unit)
		}

		setREM();

		// window.addEventListener('resize', setREM);
	</script>
</head>

<body>
    <div id="root"></div>
	<script>
		(function(){
			if (!navigator.serviceWorker) return;
			navigator.serviceWorker.register('<%=htmlWebpackPlugin.files.js[1]%>');
		})();
	</script>

	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
	
</body>
</html>
